body{
    font-family: verdana;
    font-size: 20px;
    background-color: lightblue;
}

header  {

color: black;
} 

h1,h2 {
    text-align: left;
    color:white;
    text-align: center;
}
h2{
    color: blue;
}
.home-titles{
    font-size: 90px;
    background-color: yellow;
}

